<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<%= link_to 'Edit', edit_lesson_question_path(@question) %> |
<%= link_to 'Back', lesson_questions_path(@lesson) %>
